
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #630979;
}
.container{
    width: 45%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: black;
    border-radius: 10px;

}

#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 77.5%;
    height: 45px;

font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 25px;
    border: 2px solid #716576;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: #7204b3;
}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 75px;
    border-radius: 5px;
font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    font-size: 16px;
    background-color: #4e0473;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
#tasks{
    background-color: black;
    padding: 30px 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 92%;
    position: relative;
}
.task{
    background-color: #c4c4c4;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ffffff;
    cursor: pointer;
}
.task span{

font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #000000;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.completed{
    text-decoration: line-through;
}
h1{
    color:white;
font-family: 'Edu NSW ACT Foundation', cursive;
font-size: 45px;
}