body {
    background-color: #4b4b4b;
    font-family: 'Acme', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height:400px;
    
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    color: rgb(241, 241, 241);
    font-size:20px;
}

.table,
tr,
td {
    justify-items: center;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid rgb(89, 89, 89);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 20px;
}
h1{
    color:rgb(0, 0, 0);
}

h2 {
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);

}

h3 {
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    font-size:25px;

}

th {
    justify-items: center;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-size: 20px;
}
hr{
    width:70%;
    background-color: rgb(255, 255, 255);
}
u{
    text-decoration-line: underline;
    text-decoration-thickness:3px ;
}
.quote{
    text-align: center;
    font-size: 30px ;
    color:rgb(17, 0, 0);
}